@model IEnumerable<AlquimiaParaTodos.Models.Category>
@{
    int id = ViewBag.Category.ID;
    var category = Model.Single(cat => cat.ID == id);
}



    <!--<p class="lead">@ViewBag.AppDescriptor </p>-->
    <p></p>
    @Html.Partial("_SearchForm")
    <div class="list-group">
      
        @for (var i = 0; i < Model.Count(); i++)
        {
            if (Model.ElementAt(i).ID == category.ID)
            {
                <div class="list-group-item active">
                    @Html.ActionLink(Model.ElementAt(i).Name, "Home", new { id = Model.ElementAt(i).ID }, new { @class = "active-category-link" })
                </div>
                @*<div class="list-group-item">*@
                @*<a href="#" class="list-group-item">
                        <span class="active-category"> @Html.DisplayFor(modelItem => Model.ElementAt(i).Name) </span>
                    </a>*@
                @*</div>*@
            }
            else
            {
                <div class="list-group-item">
                    @Html.ActionLink(Model.ElementAt(i).Name, "Home", new { id = Model.ElementAt(i).ID }, new { @class = "non-active-category-link" })
                </div>

                @*<a href="#" class="list-group-item" data-id="@Model.ElementAt(i).ID"> @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)</a>*@
            }
        }
       

    </div>


