@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<AlquimiaParaTodos.Models.Category> 
@{
    int id = ViewBag.Category.ID;
    var category = Model.Single(cat => cat.ID == id);
}


@*<script src="/Scripts/jquery-1.10.2.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".list-group-item").click(function () {
            // Get the id from the link
            var categoryIDToView = $(this).attr("data-id");
            if (categoryIDToView != '') {
                // Perform the ajax post
                $.get("/Home/ViewProducts", { "id": categoryIDToView },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    });
</script>*@
    @*<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>*@

    <div class="container">
         <div class="row">    
            <div class="col-xs-2">
                @Html.Partial("_Categories")
            </div>
             <div class="col-xs-7" id="m_content">
                 <p></p>
                 <div class="row carousel-holder">

                     <div class="col-md-12">
                         <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                             <ol class="carousel-indicators">
                                 @for (var i = 0; i < ViewBag.CategoryProductsCount; i++)
                                {
                                    if (i == 0)
                                    {
                                 <li data-target="#carousel-example-generic" data-slide-to="@i" class="active"></li>
                                    }
                                    else
                                    {
                                 <li data-target="#carousel-example-generic" data-slide-to="@i"></li>
                                    }
                                }

                             </ol>
                             <div class="carousel-inner">

                                 @for (var i = 0; i < ViewBag.CategoryProductsCount; i++)
                                {
                                    if (i == 0)
                                    {
                                 <div class="item active">
                                     <img class="slide-image" src="@Html.DisplayFor(modelItem => category.Products.ElementAt(i).SliderImageUrl)" alt="">
                                 </div>
                                    }
                                    else
                                    {
                                 <div class="item">
                                     <img class="slide-image" src="@Html.DisplayFor(modelItem => category.Products.ElementAt(i).SliderImageUrl)" alt="">
                                 </div>
                                    }

                                }
                             </div>
                             <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                 <span class="glyphicon glyphicon-chevron-left"></span>
                             </a>
                             <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                 <span class="glyphicon glyphicon-chevron-right"></span>
                             </a>
                         </div>
                     </div>
                 </div>
                 <div class="row">
                     @Html.Partial("_GridProducts", category.Products)
                 </div>

             </div>
             <div class="col-xs-3">
                 <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2F8Picaros&amp;width=256&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=648171721934238" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:256px; height:590px;" allowtransparency="true"></iframe>
             </div>

            </div>

    </div>



