@{
    Layout = null;
}


@model AlquimiaParaTodos.ViewModels.ShoppingCartViewModel


<table class="table">
    <tr>
            <th>
                Cantidad
            </th>
            <th>
                Nombre del Producto
            </th>
            <th>
                Precio
            </th>

            <th>
                    @Html.DisplayNameFor(model => model.CartTotal)
                </th>
            <th></th>
        </tr>

    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.ID">
            <td id="item-count-@item.ID" class="col-md-1">
                @item.Quantity x
            </td>
            <td class="col-md-6">
                @*@Html.ActionLink(item.Item.Title, "ShopItem", "Show", new { id = item.ProductID }, null)*@
                <a class="modal-product" name=@item.ProductID>
                    @*@Html.DisplayFor(modelItem => item.Item.Title)*@
                    @Html.DisplayShortNameFor(item.Item.Title)
                </a>

            </td>
            <td class="col-md-4">
                @item.Item.BasePrice
            </td>

            <td class="col-md-1">
                <a href="#" class="RemoveLink glyphicon glyphicon-remove-circle"
                   data-id="@item.ID" onclick="removeLink(@item.ID)">
                    <img src="/img/icons/close_grey.png" height="12" width="12">
                </a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td></td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
        <td></td>
    </tr>



</table>



